<%- include("templates/header") %>

<h1>Admin</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>User Type</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% for (const user of users) { %>
            <%- include("templates/user", { user: user }) %>
        <% } %>
    </tbody>
</table>

<%- include("templates/footer") %>