<!DOCTYPE html>
<html>
    <head>
        <title>hi</title>
    </head>

    <body>
        <input type="button" onclick="window.location.href='/signup'" id="btn-signup" value="Sign up">
        <input type="button" onclick="window.location.href='/login'" id="btn-login" value="Log in">
    </body>

</html>