<!DOCTYPE html>
<html>
    <head>
        <title>hi</title>
    </head>

    <body>
        <form action="/loginSubmit" method="POST">
            <label>log in</label><br>
            <input type="email" name="email" placeholder="email"><br>
            <input type="password" name="password" placeholder="password"><br>
            <input type="submit">
        </form>
    </body>
</html>