<%- include("templates/header") %>

<div class="d-flex justify-content-center">
    <div>
        <form action="/loginSubmit" method="POST">
            <label class="form-label">log in</label><br>

            <input 
                type="email" 
                name="email" 
                placeholder="email" 
                class="form-control mb-2"
            >

            <input 
                type="password" 
                name="password" 
                placeholder="password" 
                class="form-control mb-2"
            >

            <input type="submit" class="btn btn-primary" value="Log in">
        </form>

        <p class="mt-3">
            Don't have an account?
            <a href="/signup">Sign up</a>
        </p>
    </div>
</div>

<%- include("templates/footer") %>