<%- include("templates/header", { 
    title: "Members",
    authenticated: authenticated
}) %>

<h1>Hello, <%= name %>.</h1>

<input type="button" class="btn btn-primary me-2" onclick="window.location.href='/logout'" value="Sign out">

<div class="row">
    <% for (const image of images) { %>
        <div class="col-12 col-md-4 mb-3">
            <img src="<%= image %>" alt="Member image" class="img-fluid">
        </div>
    <% } %>
</div>

<%- include("templates/footer") %>