<%- include("templates/header", { title: "Sign Up" }) %>

<div class="d-flex justify-content-center">
    <div>
        <form action="/signupSubmit" method="POST">
            <label>create user</label><br>
            <input type="text" name="name" placeholder="name"><br>
            <input type="email" name="email" placeholder="email"><br>
            <input type="password" name="password" placeholder="password"><br>
            <input type="submit">
        </form>

        <p class="mt-3">
            Already have an account?
            <a href="/login">Log in</a>
        </p>
    </div>
</div>

<%- include("templates/footer") %>